doctype html
html
	head
		title=title
		style (type='/text/css') :  include //netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
	body
		h1='Welcome'
		h2 BOOM, like that
