doctype html
html
	head
		title=title
	body
		h1=title

		if queueStatus == 'The queue is ready for use!' && exchangeStatus == 'An exchange has been established!'
			h2 BOOM! SUCCESS!
			a(href='/message-service') Click here to go to the message service!
			br
			br
			a(href='/listDB') Click here to list the device database messages!
			br
			br
			a(href='/listRegisterDB') Click here to list the Register database messages!
			br
			br
			a(href='/listRawJson') Click here to list the raw JSON output!
			
			- if (results)
				ul
					each item in results
						li= item

