doctype html
html(ng-app='Nodes-Talking Administration UI')
	head
		title=title
		style (type='/text/css') :  include //netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
	body
		h1='Welcome'
		h2='Nodes Talking Administration Page'
		h3='Well finally'
//a(href="/solution-one") solution one
//span -
//a(href="/solution-two") solution two
//span -
//a(href="/solution-three") solution three
//block content

